name: frontend
description: Flutter Front-end.
publish_to: "none"

environment:
  sdk: '^3.5.0'
  flutter: '>=3.24.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
